<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWYGtFM-hjBm0gN6hMw8bt5t3t0w3gOcA</string>
	<key>GCM_SENDER_ID</key>
	<string>87547780573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socio</string>
	<key>PROJECT_ID</key>
	<string>socio-16fb5</string>
	<key>STORAGE_BUCKET</key>
	<string>socio-16fb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87547780573:ios:4ea9ff5f8860c6b368aa34</string>
</dict>
</plist>